/*
fondo: #E5DDC8
acento: #DB1F48
principal: #01949A
principal oscuro: #004369

*/

* {
    box-sizing: border-box;
    margin: 0;
    color: #333;
}

body {
    width: 100%;
    font-size: 16px;
}

.flex {
    display: flex;
}

h2 {
    font-size: 32px;
    margin: 40px;
}
